<div id="logo" class="col-lg-12">
    <img id="logo-image" src="../Image/logo.jpg" />
</div>
<div id="slogan" class="col-lg-12">
    <span id="some-text">Listen music to much is wasting time !</span>
</div>
<br />
<br />
<nav id="main-nav">
    <ul class="main-navigation">
        <li><a href="/about/">about</a></li>
        <li><a href="/archive">archives</a></li>
        <li><a href="https://github.com/Haacked/feedback/issues/new">contact</a></li>
        <li><a href="/contributors">contributors</a></li>
    </ul>
</nav>

